.taskFinish {
  max-width: 90%;
  background: white;
  width: 100%;
  display: flex;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px auto;
}

.taskFinish p {
  color: #76c3cd;
  font-size: 1.2em;
  padding: 10px;
  text-decoration: line-through;
  opacity: 0.7;
}

.taskFinish .number {
  font-weight: 500;
}

.taskFinish .text {
  text-transform: capitalize;
}
